

# Python
__pycache__/
*.pyc
*.pyo
.env

# Virtual environment
env/





# Temp files (generated at runtime)
results/
results_old/ 
LLM/temp/ 
Input_Eval
LLM/logs
results_LLM/

# Converter
Converter/error.txt 

# Processed output
output/

# OS
.DS_Store

HeinData