
# Journal files
*.pdf
*.png
*.tiff
*.tif
*.jpg
*.jpeg
*.log
*.yml

# Python
__pycache__/
*.pyc
*.pyo
.env

# Virtual environment
env/

# Jornal Folder 
Input/

# Temp files (generated at runtime)
results/
results_old/ 
LLM/temp/ 

# Processed output
output/

# OS
.DS_Store

HeinData